pydantic
dotenv
langchain
langchain-openai
langchain-community
langchain-core
python-dotenv
langchain_huggingface
pymupdf
bs4
arxiv
hf_xet
langchain-pinecone
qdrant-client[fastembed]
PyMuPDF
PyMuPDF4LLM
langchain_experimental
langchain_qdrant

"unstructured[all-docs]"
